<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   </head>

   <body>
      <div class="container" style="text-align: left">
         <h1>File Metadata Microservice</h1>
         <blockquote>
                User stories:
                <ul>1) User Story: I can submit a FormData object that includes a file upload.</ul>
                <ul>2) When I submit something, I will receive the file size in bytes within the JSON response</ul>
            </blockquote>
        </div>
      <div class="container" style="text-align: left">
        <form method="post" enctype="multipart/form-data" action="/">
          <input type="file" name="fileupload" />
          <button type="submit">
            Submit
          </button>
        </form>
           
     </div>
   </body>

</html>
